@model BDLavacar.Models.sp_RetornaClientesID_Result
@{
    ViewBag.Title = "PersonaModifica";
    Layout = "~/Views/Shared/_LayoutBDLavacar.cshtml";
}

<h2>PersonaModifica</h2>


<h2>Cliente Modifica</h2>

<form id="frmModificaUsuario" method="post">
    <div class="form-group">
        <label>Cédula :</label>
        <input type="text" name="Cedula_P" id="Cedula_P" class="form-control" value="@Model.Cedula_P" />
    </div>
    <div class="form-check">
        <label>Sexo:  </label>
        <input type="radio" name="Genero_P" value="f" class="form-check-input"
               @(Model.Genero_P.ToLower() == "f" ? "checked" : "") /> Femenino

        <input type="radio" name="Genero_P" value="m" class="form-check-input"
               @(Model.Genero_P.ToLower() == "m" ? "checked" : "") /> Masculino

        <input type="radio" name="Genero_P" value="i" class="form-check-input"
               @(Model.Genero_P.ToLower() == "i" ? "checked" : "") /> Indefinido
    </div>
    <div class="form-group">
        <label>Fecha de nacimiento:</label>
        <input type="text" name="Fecha_Nacimiento_P" id="Fecha_Nacimiento_P" class="form-control" value="@Model.Fecha_Nacimiento_P" />
    </div>
    <div class="form-group">
        <label>Nombre completo:</label>
        <input type="text" name="Nombre_P" id="Nombre_P" class="form-control" value="@Model.Nombre_P" />
    </div>
    <div class="form-group">
        <label>Nombre completo:</label>
        <input type="text" name="PApellido" id="PApellido" class="form-control" value="@Model.PApellido" />
    </div>

    <div class="form-group">
        <label>Nombre completo:</label>
        <input type="text" name="SApellido" id="SApellido" class="form-control" value="@Model.SApellido" />
    </div>    <div class="form-group">
        <label>Correo Electrónico:</label>
        <input type="text" name="Correo_P" id="Correo_P" class="form-control" value="@Model.Correo_P" />
    </div>
    <div class="form-group">
        <label>Provincia:</label>
        <select name="id_Provincia" id="provincia" class="form-control" ></select>
    </div>
    <div class="form-group">
        <label>Cantón:</label>
        <select name="id_Canton" id="canton" class="form-control" ></select>
    </div>
    <div class="form-group">
        <label>Tipo:</label>
        <input type="text" name="Id_TipoPersona_TP" id="Id_TipoPersona_TP" class="form-control" value="@Model.TipoEmpleado" />
    </div>
    <div class="form-group">
        <label>Distrito:</label>
        <select name="id_Distrito" id="distrito" class="form-control" ></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Modificar" id="btnModificar" class="btn btn-success" />
    </div>
    <input type="hidden" name="hddProvincia" id="hddProvinciaID" value="@Model.id_Provincia" />
</form>
@section scripts{


    <script src="~/Scripts/Clientes/ClienteModifica.js"></script>

}